div.date {
    font-size: 1em;
    color: #282c34;
    margin-top: 0.5em;
    background-color: antiquewhite;
    padding: 0.5em;
    margin: .1em;
    height: max-content;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
}

div.currentDate {
    font-size: 1em;
    color: #282c34;
    margin-top: 0.5em;
    background-color: rgb(188, 252, 171);
    padding: 0.5em;
    margin: .1em;
    height: max-content;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
}

div.previousDate {
    font-size: 1em;
    color: #282c34;
    margin-top: 0.5em;
    background-color: rgb(250, 136, 136);
    padding: 0.5em;
    margin: .1em;
    height: max-content;
    width: 50px;
    cursor: pointer;
    border-radius: 5px;
}

span.date {
    display: inline-block;
    margin: 5px 10px 0 0;
    padding: 5px 10px;
}

div.emptyDate {
    font-size: 1em;
    color: transparent;
    margin-top: 0.5em;
    background-color: transparent;
    padding: 0.5em;
    margin: .1em;
    height: max-content;
    width: 50px;
    visibility: hidden;
}

div.dayDate {
    font-size: .95em;
    color: antiquewhite;
    margin-top: 0.5em;
    padding: 0.5em;
    margin: .1em;
    height: max-content;
    width: 50px;
    cursor: pointer;
}

div.date:hover {
    background-color: #282c34;
    color: antiquewhite;
}

div.currentDate:hover {
    background-color: #282c34;
    color: antiquewhite;
}

div.previousDate:hover {
    background-color: #282c34;
    color: antiquewhite;
}

@media only screen and (max-width: 600px) {
    div.date {
        width: 40px;
    }
    div.currentDate {
        width: 40px;
    }
    div.previousDate {
        width: 40px;
    }
    div.emptyDate {
        width: 40px;
    }
    div.dayDate {
        width: 40px;
    }
  }

  @media only screen and (max-width: 450px) {
    div.date {
        width: 35px;
    }
    div.currentDate {
        width: 35px;
    }
    div.previousDate {
        width: 35px;
    }
    div.emptyDate {
        width: 35px;
    }
    div.dayDate {
        width: 35px;
    }
  }

  @media only screen and (max-width: 400px) {
    div.date {
        width: 30px;
    }
    div.currentDate {
        width: 30px;
    }
    div.previousDate {
        width: 30px;
    }
    div.emptyDate {
        width: 30px;
    }
    div.dayDate {
        width: 30px;
    }
  }