div.notes {
    font-size: 1em;
    color: black;
    margin-top: 0.5em;
    background-color: antiquewhite;
    width: max-content;
    padding: 0.5em;
    height: max-content;
    border-radius: 5px;
}

div.notesOption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

div.workout {
    background-color: #282c34cc;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 10px;
}

div.note {
    background-color: #282c34cc;
    color: white;
    padding: 0.5em;
    margin: .5em;
    cursor: pointer;
    border-radius: 10px;
}

div.checkList {
    background-color: #282c34cc;
    color: white;
    padding: 0.5em;
    margin: .5em;
    cursor: pointer;
    border-radius: 10px;
}

div.active {
    background-color: rgb(119, 255, 82);
    padding: 0.5em;
    margin: .5em;
    cursor: pointer;
    border-radius: 10px;
}

div.contentIn {
    background-color: #282c34;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 5px;
}

div.workoutContentInner {
    font-size: large;
    color: antiquewhite;
    border-bottom: 1px solid antiquewhite;
    margin: 5px;
    padding: 5px;
    max-width: 550px;
}

div.notesContentInner {
    font-size: large;
    color: antiquewhite;
    border-bottom: 1px solid antiquewhite;
    margin: 5px;
    padding: 5px;
    max-width: 550px;
}

div.checkListContentInner {
    font-size: large;
    color: antiquewhite;
    border-bottom: 1px solid antiquewhite;
    margin: 5px;
    padding: 5px;
    max-width: 550px;
}

div.Blank {
    padding: 0.5em;
    margin: .5em;
    cursor: pointer;
    border-bottom: 1px solid antiquewhite;
    max-width: 550px;
}

button.close {
    background-color: #ff4242fe;
    border: none;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 5px;
    font-size: large;
    font-weight: bolder;
    width: 40px;
}

@media only screen and (max-width: 600px) {
    div.workoutContentInner {
        max-width: 400px;
    }
    div.notesContentInner {
        max-width: 400px;
    }
    div.checkListContentInner {
        max-width: 400px;
    }
  }

  @media only screen and (max-width: 450px) {
    div.workoutContentInner {
        max-width: 300px;
    }
    div.notesContentInner {
        max-width: 300px;
    }
    div.checkListContentInner {
        max-width: 300px;
    }
  }

  @media only screen and (max-width: 400px) {
    div.workoutContentInner {
        max-width: 300px;
    }
    div.notesContentInner {
        max-width: 300px;
    }
    div.checkListContentInner {
        max-width: 300px;
    }
  }