h2 {
  color: antiquewhite;
}
.App {
  text-align: center;
  background-color: #282c34;
  
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-Outer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

div.calendar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

div.calendar-header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

div.calendar-header-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

select {
  width: 100px;
  height: 30px;
  font-size: calc(5px + 2vmin);
  border: 1px solid antiquewhite;
  background-color: #282c34;
  color: antiquewhite;
  border-radius: 5px;
  margin: 0.5em;
}
